* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.fancy-input {
  position: relative;
  display: block;
  width: 100%;
  min-width: 200px;
  max-width: 400px;
  margin: 1em auto;
  font-size: 1em;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
#eMails, #eText{
  display: block;
  margin: 0 auto;
  background: #fff;
  width: 100%;
  max-width: 401px;
  min-width: 401px;
  overflow: hidden;
  border: 2px solid #969696;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #545454;
}
.fancy-input .input-container {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  min-width: 200px;
  overflow: hidden;
  background: #fff;
}
.fancy-input input {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1em;
  z-index: 1;
  font-size: 1em;
  line-height: 2;
  outline: 0;
  background: none;
  border: 2px solid #969696;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
}
.fancy-input input:valid {
  background: #fff;
}
.fancy-input input:not(:empty) + .ilab {
  display: none;
}
.fancy-input input:focus {
  border-color: #FF0000;
}
.fancy-input input:focus:valid {
  border-color: #3cf;
}
.fancy-input input:focus:valid + .ilab {
  background: #3cf;
}
.fancy-input input:focus + .ilab {
  z-index: 2;
  height: 100%;
  width: 40%;
  right: 0;
  margin-right: 0;
  padding-left: 3em;
  color: white;
  background: #FF0000;
}
.fancy-input input:focus + .ilab:before {
  content: ' ';
  position: absolute;
  top: 2px;
  left: 0;
  width: 0;
  height: 0;
  border-top: 2.2em solid #fff;
  border-right: 2.2em solid transparent;
}
.fancy-input input:focus + .ilab:after {
  content: attr(data-placeholder-short);
}
.fancy-input .ilab {
  position: absolute;
  right: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  margin-right: -100%;
  line-height: 2.5;
  padding-left: 1em;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  -webkit-transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
  transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
}
.fancy-input .ilab:after {
  content: attr(data-placeholder);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.title {
  text-align: center;
  width: 75%;
  margin: 0 auto;
}
.title h1 {
  text-transform: uppercase;
}
.title p {
  color: #646464;
}

input[type="submit"] {
	color: rgba(0, 0, 0, 0.7);
	margin: 1em auto;
}

input[type="submit"]:hover {
	border: 2px solid #ff0000;
}
/*input[type="radio"]{
  display: none;
position: absolute;
left: -32px;
top: 7px;

}
input[type="radio"]+ label,input[type="radio"]:focus:valid + label{
display: block;
position: absolute;
left: -32px;
top: 7px;
width: 25px;
height: 25px;
border-radius: 50%;
border: 2px solid #969696;

}*/
@-webkit-keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}
@-moz-keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}
@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}
.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  bottom: 0;
  left: -57px;
  height: 40px;
  width: 40px;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;

}
.option-input:hover {
  background: #9faab7;
}
.option-input:checked {
  background: #40e0d0;
}
.option-input:checked::before {
  height: 40px;
  width: 40px;
  position: absolute;
  content: '\2716';
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 40px;
  left: -2px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #40e0d0;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
  left: -20px;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}
.blab {
  display: block;
  position: absolute;
  left: -57px;
  width: 40px;
  height: 40px;
}

#send {
    display: block;
    width: 80px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 0;
    z-index: 1;
    font-size: 1em;
    line-height: 2;
    outline: 0;
    background: none;
    border: 2px solid #969696;
    -webkit-transition: border-color 0.2s;
    transition: border-color 0.2s;
    text-align: center;
}