.md-perspective,
.md-perspective body {
	height: 100%;
	overflow: hidden;
}

.md-perspective body  {
	background: #222;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	perspective: 600px;
}

.container {
	background: #e74c3c;
	min-height: 100%;
}

.md-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 50%;
	max-width: 630px;
	min-width: 320px;
	height: auto;
	z-index: 2000;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.md-show {
	visibility: visible;
}

.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	background: rgba(0, 0, 0, 0.7);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show ~ .md-overlay {
	opacity: 1;
	visibility: visible;
}

/* Content styles */
.md-content {
	color: #fff;
	background: #1D3352;
	position: relative;
	border-radius: 3px;
	margin: 0 auto;
}

.md-content h3 {
	margin: 0;
	padding: 0.4em;
	text-align: center;
	font-size: 2.4em;
	font-weight: 300;
	opacity: 0.8;
	background: rgba(0,0,0,0.1);
	border-radius: 3px 3px 0 0;
}

.md-content > div {
	padding: 15px 40px 30px;
	margin: 0;
	font-weight: 300;
	font-size: 1.15em;
}

.md-content > div p {
	margin: 0;
	padding: 10px 0;
}

.md-content > div ul {
	margin: 0;
	padding: 0 0 30px 20px;
}

.md-content > div ul li {
	padding: 5px 0;
}

.md-content button {
	display: inline-block;
	margin: 0 auto;
	font-size: 0.8em;
	
}
/* Effect 11: Super scaled */
.md-effect-11 .md-content {
	-webkit-transform: scale(2);
	-moz-transform: scale(2);
	-ms-transform: scale(2);
	transform: scale(2);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show.md-effect-11 .md-content {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}
.m-p {

	
}
button {
	border: none;
	padding: 0.6em 1.2em;
	background: #12152D;
	color: #fff;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-size: 1em;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	margin: 3px 2px;
	border-radius: 2px;

}

button:hover {
	background: #A5281B;
}
.wrap { 
    display: block;
    height: 100%;
    position: relative;
    max-width: calc(100% - 2em);
    width: 800px;
    left: 50%;
    transform: translateX(-50%);
}
.btn {
	display: block;
	width: 80px;
    height: 38px;
	margin: 10px 0;
	}
.btn-cont {
	position: absolute;
	display: block;
	width: 100px;
	height: 40px;
	right: -170px;
	bottom: 50%;
	transform: translateY(-50%);

}
.btn-add {
	background-image:  url(../img/add.png);
	background-size: contain;
	background-repeat: no-repeat;
}
.btn-ext {
	background-image:  url(../img/exit.png);
	background-size: contain;
	background-repeat: no-repeat;
}
.btn-snd {
	background-image:  url(../img/add.png);
	background-size: contain;
	background-repeat: no-repeat;
}
.btn-set {
	background-image:  url(../img/add.png);
	background-size: contain;
	background-repeat: no-repeat;
}
/*

@media screen and (max-width: 32em) {
	body { font-size: 75%; }
}*/