.header {
  background-color: #2C3E50;
  color: white;
  font-size: 1.5em;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
}
.table-users {
  border: 1px solid #327a81;
  box-shadow: 3px 3px 0 rgb(203, 215, 224);;
  max-width: calc(100% - 2em);
  margin: 1em auto;
  width: 800px;
}

table {
  width: 100%;
}
table td, table th {
  color: #003D67;
  padding: 10px;
}
table td {
  text-align: center;
  vertical-align: middle;
}
table td:last-child {
  font-size: 0.95em;
  line-height: 1.4;
  text-align: left;
}
table th {
  border-bottom: 2px solid rgba(0,0,0,.1);
  /*background-color: rgba(119, 207, 224, 0.42);*/
  font-weight: 300;
}
table tr:nth-child(2n) {
  background-color: white;
}
table tr:nth-child(2n+1) {
   background-color: #ECF0F1;

}
@media screen and (max-width: 700px) {
  table, tr, td {
    display: block;
  }

  td:first-child {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 100px;
  }
  td:not(:first-child) {
    clear: both;
    margin-left: 100px;
    padding: 4px 20px 4px 90px;
    position: relative;
    text-align: left;
  }
  td:not(:first-child):before {
    color: #91ced4;
    content: '';
    display: block;
    left: 0;
    position: absolute;
  }
  td:nth-child(2):before {
    content: 'Name:';
  }
  td:nth-child(3):before {
    content: 'Email:';
  }
  td:nth-child(4):before {
    content: 'Phone:';
  }
  tr {
    padding: 10px 0;
    position: relative;
  }
  tr:first-child {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .header {
    background-color: transparent;
    color: white;
    font-size: 2em;
    font-weight: 700;
    padding: 0;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
  }
  img {
    border: 3px solid;
    border-color: #daeff1;
    height: 100px;
    margin: 0.5rem 0;
    width: 100px;
  }
  td:first-child {
    background-color: #c8e7ea;
    border-bottom: 1px solid #91ced4;
    border-radius: 10px 10px 0 0;
    position: relative;
    top: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    width: 100%;
  }
  td:not(:first-child) {
    margin: 0;
    padding: 5px 1em;
    width: 100%;
  }
  td:not(:first-child):before {
    font-size: .8em;
    padding-top: 0.3em;
    position: relative;
  }
  td:last-child {
    padding-bottom: 1rem !important;
  }
  tr {
    background-color: white !important;
    border: 1px solid #6cbec6;
    border-radius: 10px;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    margin: 0.5rem 0;
    padding: 0;
    position: relative;
  }
  .table-users {
    border: none;
    box-shadow: none;
    overflow: visible;
  }
}
.trash{
  cursor: pointer;
  position: absolute;
  right: -62px;
  top: 10px;
  display: block;
  background: url(../img/body.svg);
  width: 23px;
  height: 23px;
  background-size: contain;
  opacity: 0;

  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in;
}
.edit{
  cursor: pointer;
  position: absolute;
  right: -38px;
  top: 7px;
  display: block;
  background: url(../img/pencil.svg);
  width: 23px;
  height: 23px;
  background-size: contain;
  opacity: 0;

  transition: opacity 0.2s ease-in-out, transform 0.3s ;
  -webkit-transition: opacity 0.2s ease-in, -webkit-transform 0.3s ;
}

.trash:before{
  content: '';
  position: absolute;
  right: -0;
  top: -0;
  display: block;
  background:url(../img/caption.svg);
  width: 23px;
  height: 23px;
  background-size: contain;
  fill: #fff;
  opacity: 0;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in;
}
tr:hover > .last_td .edit{
  opacity: .5;
}
tr:hover > .last_td .trash{
  opacity: .5;
}
tr:hover > .last_td .trash:before{
  opacity: .8;
}
.trash:hover:before{
  transform: rotate(45deg);
  transform-origin: 90% 30%;
  -webkit-transform: rotate(45deg);
  -webkit-transform-origin: 90% 30%;
}
.edit:hover{
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.last_td{
  z-index: 999;
  position: relative;
}
.paginate {
  font-family:Arial, Helvetica, sans-serif;
  padding: 3px;
  margin: 5px 5px 5px 50%;
  transform: translateX(-50%);
}

.paginate a {
  padding:2px 5px 2px 5px;
  margin:2px;
  border:1px solid #999;
  text-decoration:none;
  color: #666;
}
.paginate a:hover, .paginate a:active {
  border: 1px solid #003D67;
  color: #003D67;
}
.paginate span.current {
  margin: 2px;
  padding: 2px 5px 2px 5px;
  border: 1px solid #003D67;
  font-weight: bold;
  background-color: #003D67;
  color: #FFF;
}
.paginate span.disabled {
  padding:2px 5px 2px 5px;
  margin:2px;
  border:1px solid #eee;
  color:#DDD;
}
li{
  padding:4px;
  margin-bottom:3px;
  background-color:#FCC;
  list-style:none;
}
ul{
  margin:6px;
  padding:0px;
}
/*
 * CHECKBOXES
 *
 */

 input[type="checkbox"]{
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.cb-label {
  background-image: url(../img/check.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0px 20px;
  position: relative;
  top: 0px;
  left: 50%;
  margin-left: -9px;
  display: block;
  width: 18px;
  height: 18px;
  border: 1px solid rgba(44, 62, 80, 0.58);
  border-radius: 4px;
  z-index: 1;
  cursor: pointer;
}
 input[type="checkbox"]:checked ~ label {
  background-position: 0px 0px;
  /*background-color: #333;*/
  border: none;
 }
/* Transition */
.cb-label,
.cb-label::before {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}